body {

    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    
}

.font1 {
font-family: Roboto Condensed;
font-weight: 700;
font-size: 38px;
line-height: 100%;
letter-spacing: 0%;
}
.font2 {
font-family: Roboto;
font-weight: 300;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
}
.font3 {font-family: Roboto;
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 0%;
color: white;
}
.font4 {font-family: Roboto;
font-weight: 700;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
color: white;}
.font5 {font-family: Roboto;
font-weight: 300;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: white
;}
.font6{
font-family: Roboto;
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 0%;}
.dasfont1 {font-family: Roboto;
font-weight: 700;
font-size: 32px;
line-height: 26px;
text-align: center;
width: 208;
height: 26;
top: 2276px;
left: 856px;
opacity: 1;
}
.allesfont1 {font-family: Roboto;
font-weight: 700;
font-size: 22px;
line-height: 100%;
text-align: center;
width: 421;
height: 26;
top: 2318px;
left: 750px;

opacity: 1;
}
.allesfont2 {font-family: Roboto;
font-weight: 300;
font-size: 16px;
line-height: 24px;
text-align: center;}

.bufont {
font-family: Roboto;
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 0%; }
.fontcus1 {font-family: Roboto;
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 0%;
}
.fonturn {font-family: Roboto;
font-weight: 700;
font-size: 22px;

line-height: 20px;
letter-spacing: 0%;
width: 402;
height: 42;
top: 3573px;
left: 1082px;
opacity: 1;

}
.fontodion {
    width: 652;
height: 333;
top: 2409px;
left: 634px;

opacity: 1;
font-family: Roboto;
font-weight: 300;
font-size: 16px;

line-height: 24px;
letter-spacing: 0%;
text-align: center;

}